.icon{
    color: #f5b535;
}


.button {
  border-color: #f5b535;    
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #f5b535; 
  color: #fff;               
  border-color: #f5b535;     
}
.add-ons-list span {
  font-size: 16px;
}
.add-ons-list strong {
  color: #0d6efd; /* Bootstrap primary */
}
