.activeColor{
  background-color: #c19232;
}

.background{
  background-color: #f5b535;
}

.hero-bg{
  background-color: #fde3b0;
}
.hero-section {
  padding: 40px 0;
}

.hero-img-style {
  max-height: 600px;
}
.hero-text {
  margin-top: -100px; /* প্রয়োজন অনুযায়ী adjust করো */
}

/* Dropdown hover show */
.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.08);  
  color: #000;  
  transition: 0.2s ease-in-out;
}

/* Smooth UI */
.dropdown-menu {
  margin-top: -2px;
  border-radius: 8px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 1; transform: translateY(0);}
}


.custom-navbar-padding {
    padding-left: 0.5rem !important; 
    padding-right: 0.5rem !important; 
}


.offcanvas-active-color {
    background-color: #c19232; 
    border-radius: 8px;
    padding: 0.5rem; 
}

.hover-offcanvas-color:hover {
    color: #c19232 !important;
}



.custom-offcanvas {
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px; 
    transform: translateX(100%); 
    transition: transform .3s ease-in-out; 
    border: none;
}

.custom-offcanvas.show {
    transform: translateX(0); 
}

.close-btn{
  background-color: #f5b535;
  border: none;
  top: 20px;
  right: 20px;
}

@media (min-width: 992px) {
    .custom-nav-link-padding {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}



@media (min-width: 992px) {
    .custom-offcanvas {
        visibility: hidden;
        display: none;
    }
    
    .dropdown-menu {
        display: none; 
    }
    .hover-dropdown:hover .dropdown-menu {
        display: block; 
    }
}


@media (max-width: 991.98px) {
    #navbarNavLg {
        display: none !important; 
    }
}