.activeColor{
  background-color: #c19232;
}

.background{
  background-color: #f5b535;
}

.hero-bg{
  background-color: #fde3b0;
}


/* Dropdown hover show */
.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.08); 
  color: #000; 
  transition: 0.2s ease-in-out;
}

/* Smooth UI */
.dropdown-menu {
  margin-top: -2px;
  border-radius: 8px;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 1; transform: translateY(0);}
}